<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=width-device, initial-scale=1.0">
    <title>Hello World!</title>
    <link rel="stylesheet" href="/public/style.css" />
  <body>
    {{ content | safe }}
  </body>
<html>