<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=width-device, initial-scale=1.0">
    <title>{{ title }}{% if title != "Ray Peat Rodeo" %} • Ray Peat Rodeo{% endif %}</title>
    <link rel="stylesheet" href="/public/style.css" />
  <body>
    {{ content | safe }}
  </body>
<html>