package catalog 

templ Avatar(imgPath, initials, name string) {
	<div
		title={ name }
		class="inline-block rounded-lg overflow-hidden bg-slate-200/60 w-16 h-20 text-center shadow mr-4 mb-4 last:mr-0 rotate-2"
	>
		if len(imgPath) > 0 {
			<div class="w-[9999px] h-20">
				<img src={ imgPath } alt={ name } class="h-full "/>
			</div>
		} else {
			<span class="font-bold text-gray-300 text-xl relative relative top-6" title={ name }>{ initials }</span>
		}
	</div>
}
