package main

templ Pagefind() {
	<div
 		id="search"
 		class="hidden fixed transition-all z-40 top-0 left-0 h-full w-full px-12 pb-12 pt-12 md:pt-32 bg-slate-100/30 backdrop-blur-sm"
 		_="
      on click(target) 
        if #pagefind does not contain target then 
          send closeSearch
        else if target matches .pagefind-ui__search-clear then
          send closeSearch
        end
      "
	>
		<div
 			class="
        z-50 transition-all max-w-[806px] mx-auto 
        bg-white rounded-lg shadow-lg overflow-hidden
        "
		>
			<style>
          .pagefind-ui__form {
            position: relative;
          }
          .pagefind-ui__search-input {
            width: 100%;
            padding: 2rem;
            padding-right: 8rem;
            padding-bottom: 4rem;
            border-bottom: 1px solid #eee;
          }
          .pagefind-ui__search-input:focus {
            outline: none;
          }
          .pagefind-ui__search-clear {
            position: absolute;
            right: 0;
            top: 0;
            padding: 2rem;
            background-image: url("/assets/images/close-line-icon.svg");
            background-size: 20px 20px;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.5;
            color: rgba(0,0,0,0);
          }
          .pagefind-ui__search-clear:hover {
            opacity: 1.0;
          }
          .pagefind-ui__drawer {
            min-height: 20rem;
          }
          .pagefind-ui__drawer.pagefind-ui__hidden {

          }
          .pagefind-ui__filter-panel {
            padding: 0 2rem 0;
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            position: absolute;
            left: 0;
            top: 70px;
            width: 100%;
          }
          .pagefind-ui__filter-panel-label {
            position: relative;
            display: block;
            float: left;
            margin-right: 1rem;
            opacity: 0.5;
            display: None;
          }
          .pagefind-ui__filter-block {
            display: block;
            margin-right: 1rem;
            border: 1px solid #eee;
            border-radius: 0.5rem;
            background-color: white;
          }
          .pagefind-ui__filter-block:last-child {
            margin-right: 0;
          }
          .pagefind-ui__filter-name {
            padding: 0.25rem 1rem;
            font-size: 0.9rem;
            opacity: 0.5;
            cursor: pointer;
          }
          .pagefind-ui__filter-name::marker,
          .pagefind-ui__filter-name::-webkit-details-marker, {
            display: none;
            opacity: 0.5;
          }
          .pagefind-ui__filter-group {
            padding: 0.5rem 1rem 0.5rem;
            overflow-x: auto;
            overflow-y: auto;
            max-height: 300px;
            font-size: 0.9rem;
            border-top: 1px solid #eee;
          }
          .pagefind-ui__filter-group-label {
            display: none;
          }
          .pagefind-ui__filter-value {

          }
          .pagefind-ui__filter-checkbox {

          }
          .pagefind-ui__filter-label {

          }
          .pagefind-ui__results-area {
            text-align: center;
            padding-bottom: 1rem;
            overflow-y: auto;
            max-height: calc(100vh - 128px - 48px - 32px * 2 - 24px - 100px);
          }
          .pagefind-ui__message {
            width: 100%;
            text-align: center;
            color: #aaa;
            margin-top: 1rem;
            font-size: 0.9rem;
          }
          .pagefind-ui__results {
          }
          .pagefind-ui__result:first-child {
            margin-top: 0.75rem;
          }
          .pagefind-ui__result {
            text-align: left;
            margin: 1rem 2rem;
            padding: 0.75rem 1rem;
            background-color: #f7f7f7;
            border-radius: 0.25rem;
          }
          .pagefind-ui__result:hover {
            background-color: #f4f4f4;
          }
          .pagefind-ui__result-inner {

          }
          .pagefind-ui__result-title {
            font-size: 1.125rem;
          }
          .pagefind-ui__result-link {
            border-bottom: 1px solid #ddd;
          }
          .pagefind-ui__result-link:hover {
            border-bottom: 2px solid #000;
          }
          .pagefind-ui__result-excerpt {
            font-size: 0.9rem;
            margin-top: 0.5rem;
            color: #888;
          }
          .pagefind-ui__result-excerpt mark {
            font-weight: bold;
            color: #555;
            padding: 0.25rem;
            border-radius: 0.25rem;
          }
          .pagefind-ui__button {
            display: inline-block;
            border-bottom: 1px solid #888;
            margin: 0 auto 1px;
          }
          .pagefind-ui__button:hover {
            border-bottom: 2px solid #333;
            margin-bottom: 0;
          }
        </style>
			<div id="pagefind" class="overflow-y-auto"></div>
		</div>
	</div>
}
