package main

import "github.com/marcuswhybrow/ray-peat-rodeo/internal/global"

templ RayPeatPage() {
	@global.Base("Ray Peat") {
		<rpr-layout>
			<rpr-advanced-search></rpr-advanced-search>
		</rpr-layout>
	}
}
