package main

templ hello(name string) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>Title</title>
			<link rel="stylesheet" href="/assets/tailwind.css"/>
		</head>
		<body>
			<div class="text-sky-600 m-8">Hello, { name }</div>
		</body>
	</html>
}
