:root {

  /* Tailwind Colors */

  --red-950: rgb(69, 10, 10);
  --red-900: rgb(127, 29, 29);
  --red-800: rgb(153, 27, 27);
  --red-700: rgb(185, 28, 28);
  --red-600: rgb(220, 38, 38);
  --red-500: rgb(239, 68, 68);
  --red-400: rgb(248, 113, 113);
  --red-300: rgb(252, 165, 165);
  --red-200: rgb(254, 202, 202);
  --red-100: rgb(254, 226, 226);
  --red-50: rgb(254, 242, 242);

  --orange-950: rgb(67, 20, 7);
  --orange-900: rgb(124, 45, 18);
  --orange-800: rgb(154, 52, 18);
  --orange-700: rgb(194, 65, 12);
  --orange-600: rgb(234, 88, 12);
  --orange-500: rgb(249, 115, 22);
  --orange-400: rgb(251, 146, 60);
  --orange-300: rgb(253, 186, 116);
  --orange-200: rgb(254, 215, 170);
  --orange-100: rgb(255, 237, 213);
  --orange-50: rgb(255, 247, 237);

  --amber-950: rgb(69, 26, 3);
  --amber-900: rgb(120, 53, 15);
  --amber-800: rgb(146, 64, 14);
  --amber-700: rgb(180, 83, 9);
  --amber-600: rgb(217, 119, 6);
  --amber-500: rgb(245, 158, 11);
  --amber-400: rgb(251, 191, 36);
  --amber-300: rgb(252, 211, 77);
  --amber-200: rgb(253, 230, 138);
  --amber-100: rgb(254, 243, 199);
  --amber-50: rgb(255, 251, 235);

  --yellow-950: rgb(66, 32, 6);
  --yellow-900: rgb(113, 63, 18);
  --yellow-800: rgb(133, 77, 14);
  --yellow-700: rgb(161, 98, 7);
  --yellow-600: rgb(202, 138, 4);
  --yellow-500: rgb(234, 179, 8);
  --yellow-400: rgb(250, 204, 21);
  --yellow-300: rgb(253, 224, 71);
  --yellow-200: rgb(254, 240, 138);
  --yellow-100: rgb(254, 249, 195);
  --yellow-50: rgb(254, 252, 232);

  --lime-950: rgb(26, 46, 5);
  --lime-900: rgb(54, 83, 20);
  --lime-800: rgb(63, 98, 18);
  --lime-700: rgb(77, 124, 15);
  --lime-600: rgb(101, 163, 13);
  --lime-500: rgb(132, 204, 22);
  --lime-400: rgb(163, 230, 53);
  --lime-300: rgb(190, 242, 100);
  --lime-200: rgb(217, 249, 157);
  --lime-100: rgb(236, 252, 203);
  --lime-50: rgb(247, 254, 231);

  --green-950: rgb(5, 46, 22);
  --green-900: rgb(20, 83, 45);
  --green-800: rgb(22, 101, 52);
  --green-700: rgb(21, 128, 61);
  --green-600: rgb(22, 163, 74);
  --green-500: rgb(34, 197, 94);
  --green-400: rgb(74, 222, 128);
  --green-300: rgb(134, 239, 172);
  --green-200: rgb(187, 247, 208);
  --green-100: rgb(220, 252, 231);
  --green-50: rgb(240, 253, 244);

  --emerald-950: rgb(2, 44, 34);
  --emerald-900: rgb(6, 78, 59);
  --emerald-800: rgb(6, 95, 70);
  --emerald-700: rgb(4, 120, 87);
  --emerald-600: rgb(5, 150, 105);
  --emerald-500: rgb(16, 185, 129);
  --emerald-400: rgb(52, 211, 153);
  --emerald-300: rgb(110, 231, 183);
  --emerald-200: rgb(167, 243, 208);
  --emerald-100: rgb(209, 250, 229);
  --emerald-50: rgb(236, 253, 245);

  --teal-950: rgb(4, 47, 46);
  --teal-900: rgb(19, 78, 74);
  --teal-800: rgb(17, 94, 89);
  --teal-700: rgb(15, 118, 110);
  --teal-600: rgb(13, 148, 136);
  --teal-500: rgb(20, 184, 166);
  --teal-400: rgb(45, 212, 191);
  --teal-300: rgb(94, 234, 212);
  --teal-200: rgb(153, 246, 228);
  --teal-100: rgb(204, 251, 241);
  --teal-50: rgb(240, 253, 250);

  --cyan-950: rgb(8, 51, 68);
  --cyan-900: rgb(22, 78, 99);
  --cyan-800: rgb(21, 94, 117);
  --cyan-700: rgb(14, 116, 144);
  --cyan-600: rgb(8, 145, 178);
  --cyan-500: rgb(6, 182, 212);
  --cyan-400: rgb(34, 211, 238);
  --cyan-300: rgb(103, 232, 249);
  --cyan-200: rgb(165, 243, 252);
  --cyan-100: rgb(207, 250, 254);
  --cyan-50: rgb(236, 254, 255);

  --sky-950: rgb(8, 47, 73);
  --sky-900: rgb(12, 74, 110);
  --sky-800: rgb(7, 89, 133);
  --sky-700: rgb(3, 105, 161);
  --sky-600: rgb(2, 132, 199);
  --sky-500: rgb(14, 165, 233);
  --sky-400: rgb(56, 189, 248);
  --sky-300: rgb(125, 211, 252);
  --sky-200: rgb(186, 230, 253);
  --sky-100: rgb(224, 242, 254);
  --sky-50: rgb(240, 249, 255);

  --blue-950: rgb(23, 37, 84);
  --blue-900: rgb(30, 58, 138);
  --blue-800: rgb(30, 64, 175);
  --blue-700: rgb(29, 78, 216);
  --blue-600: rgb(37, 99, 235);
  --blue-500: rgb(59, 130, 246);
  --blue-400: rgb(96, 165, 250);
  --blue-300: rgb(147, 197, 253);
  --blue-200: rgb(191, 219, 254);
  --blue-100: rgb(219, 234, 254);
  --blue-50: rgb(239, 246, 255);

  --indigo-950: rgb(30, 27, 75);
  --indigo-900: rgb(49, 46, 129);
  --indigo-800: rgb(55, 48, 163);
  --indigo-700: rgb(67, 56, 202);
  --indigo-600: rgb(79, 70, 229);
  --indigo-500: rgb(99, 102, 241);
  --indigo-400: rgb(129, 140, 248);
  --indigo-300: rgb(165, 180, 252);
  --indigo-200: rgb(199, 210, 254);
  --indigo-100: rgb(224, 231, 255);
  --indigo-50: rgb(238, 242, 255);

  --violet-950: rgb(46, 16, 101);
  --violet-900: rgb(76, 29, 149);
  --violet-800: rgb(91, 33, 182);
  --violet-700: rgb(109, 40, 217);
  --violet-600: rgb(124, 58, 237);
  --violet-500: rgb(139, 92, 246);
  --violet-400: rgb(167, 139, 250);
  --violet-300: rgb(196, 181, 253);
  --violet-200: rgb(221, 214, 254);
  --violet-100: rgb(237, 233, 254);
  --violet-50: rgb(245, 243, 255);

  --purple-950: rgb(59, 7, 100);
  --purple-900: rgb(88, 28, 135);
  --purple-800: rgb(107, 33, 168);
  --purple-700: rgb(126, 34, 206);
  --purple-600: rgb(147, 51, 234);
  --purple-500: rgb(168, 85, 247);
  --purple-400: rgb(192, 132, 252);
  --purple-300: rgb(216, 180, 254);
  --purple-200: rgb(233, 213, 255);
  --purple-100: rgb(243, 232, 255);
  --purple-50: rgb(250, 245, 255);

  --fuchsia-950: rgb(74, 4, 78);
  --fuchsia-900: rgb(112, 26, 117);
  --fuchsia-800: rgb(134, 25, 143);
  --fuchsia-700: rgb(162, 28, 175);
  --fuchsia-600: rgb(192, 38, 211);
  --fuchsia-500: rgb(217, 70, 239);
  --fuchsia-400: rgb(232, 121, 249);
  --fuchsia-300: rgb(240, 171, 252);
  --fuchsia-200: rgb(245, 208, 254);
  --fuchsia-100: rgb(250, 232, 255);
  --fuchsia-50: rgb(253, 244, 255);

  --pink-950: rgb(80, 7, 36);
  --pink-900: rgb(131, 24, 67);
  --pink-800: rgb(157, 23, 77);
  --pink-700: rgb(190, 24, 93);
  --pink-600: rgb(219, 39, 119);
  --pink-500: rgb(236, 72, 153);
  --pink-400: rgb(244, 114, 182);
  --pink-300: rgb(249, 168, 212);
  --pink-200: rgb(251, 207, 232);
  --pink-100: rgb(252, 231, 243);
  --pink-50: rgb(253, 242, 248);

  --rose-950: rgb(76, 5, 25);
  --rose-900: rgb(136, 19, 55);
  --rose-800: rgb(159, 18, 57);
  --rose-700: rgb(190, 18, 60);
  --rose-600: rgb(225, 29, 72);
  --rose-500: rgb(244, 63, 94);
  --rose-400: rgb(251, 113, 133);
  --rose-300: rgb(253, 164, 175);
  --rose-200: rgb(254, 205, 211);
  --rose-100: rgb(255, 228, 230);
  --rose-50: rgb(255, 241, 242);

  --stone-950: rgb(12, 10, 9);
  --stone-900: rgb(28, 25, 23);
  --stone-800: rgb(41, 37, 36);
  --stone-700: rgb(68, 64, 60);
  --stone-600: rgb(87, 83, 78);
  --stone-500: rgb(120, 113, 108);
  --stone-400: rgb(168, 162, 158);
  --stone-300: rgb(214, 211, 209);
  --stone-200: rgb(231, 229, 228);
  --stone-100: rgb(245, 245, 244);
  --stone-50: rgb(250, 250, 249);

  --neutral-950: rgb(10, 10, 10);
  --neutral-900: rgb(23, 23, 23);
  --neutral-800: rgb(38, 38, 38);
  --neutral-700: rgb(64, 64, 64);
  --neutral-600: rgb(82, 82, 82);
  --neutral-500: rgb(115, 115, 115);
  --neutral-400: rgb(163, 163, 163);
  --neutral-300: rgb(212, 212, 212);
  --neutral-200: rgb(229, 229, 229);
  --neutral-100: rgb(245, 245, 245);
  --neutral-50: rgb(250, 250, 250);

  --zinc-950: rgb(9, 9, 11);
  --zinc-900: rgb(24, 24, 27);
  --zinc-800: rgb(39, 39, 42);
  --zinc-700: rgb(63, 63, 70);
  --zinc-600: rgb(82, 82, 91);
  --zinc-500: rgb(113, 113, 122);
  --zinc-400: rgb(161, 161, 170);
  --zinc-300: rgb(212, 212, 216);
  --zinc-200: rgb(228, 228, 231);
  --zinc-100: rgb(244, 244, 245);
  --zinc-50: rgb(250, 250, 250);

  --gray-950: rgb(3, 7, 18);
  --gray-900: rgb(17, 24, 39);
  --gray-800: rgb(31, 41, 55);
  --gray-700: rgb(55, 65, 81);
  --gray-600: rgb(75, 85, 99);
  --gray-500: rgb(107, 114, 128);
  --gray-400: rgb(156, 163, 175);
  --gray-300: rgb(209, 213, 219);
  --gray-200: rgb(229, 231, 235);
  --gray-100: rgb(243, 244, 246);
  --gray-50: rgb(249, 250, 251);

  --slate-950: rgb(2, 6, 23);
  --slate-900: rgb(15, 23, 42);
  --slate-800: rgb(30, 41, 59);
  --slate-700: rgb(51, 65, 85);
  --slate-600: rgb(71, 85, 105);
  --slate-500: rgb(100, 116, 139);
  --slate-400: rgb(148, 163, 184);
  --slate-300: rgb(203, 213, 225);
  --slate-200: rgb(226, 232, 240);
  --slate-100: rgb(241, 245, 249);
  --slate-50: rgb(248, 250, 252);

  /* Tailwind Text Sizes */

  --font-size-xs: 0.75rem;
  --line-height-xs: 1rem;

  --font-size-sm: 0.875rem;
  --line-height-sm: 1.25rem;

  --font-size-md: 1rem;
  --line-height-md: 1.5rem;

  --font-size-lg: 1.125rem;
  --line-height-lg: 1.75rem;

  --font-size-xl: 1.25rem;
  --line-height-xl: 1.75rem;

  --font-size-2xl: 1.5rem;
  --line-height-2xl: 2rem;

  --font-size-3xl: 1.875rem;
  --line-height-3xl: 2.25rem;

  --font-size-4xl: 2.25rem;
  --line-height-4xl: 2.5rem;

  --font-size-5xl: 3rem;
  --line-height-5xl: 1;

  --font-size-6xl: 3.75rem;
  --line-height-6xl: 1;

  --font-size-7xl: 4.5rem;
  --line-height-7xl: 1;

  --font-size-8xl: 6rem;
  --line-height-8xl: 1;

  --font-size-9xl: 8rem;
  --line-height-9xl: 1;
}

body app-root {
  margin: 0 auto;
}

.main {
  margin-left: 8rem;
}

article mark {
  background-color: #fef08a
}

article p {
  margin-bottom: 16px;
}

article blockquote {
  padding-left: 16px;
  border-left: 2px solid lightgray;
  font-size: 1.1rem;
  font-style: italic;
  line-height: 2rem;
  margin: 24px 0;
}

article a {
  text-decoration: none;
  color: var(--pink-600);
}

article a:hover {
  text-decoration: underline;
}

article {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  padding-top: 4rem;

}

article h1 {
  font-weight: 700;
  font-size: var(--font-size-4xl);
  line-height: var(--line-height-4xl);

  letter-spacing: -0.025em;
  margin-top: 0;
}

article h1 a {
  color: var(--slate-950);
  text-decoration: none;
}

article h1 a:hover {
  text-decoration: underline;
}

article h2 {
  margin: 0;
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-3xl);
  font-weight: 400;
  color: var(--slate-800);
  letter-spacing: -0.05em;
  border-bottom: 1px solid var(--slate-200);
  padding-bottom: 1rem;
}

article #details a {
  color: var(--pink-600);
  letter-spacing: -0.05em;
  text-decoration: none;
  margin-right: 1rem;
  border-radius: 9999px;
  border: 1px solid var(--slate-200);
  padding: 0.5rem 1rem;
  position: relative;
  left: -0.5rem;
}

article #details a:hover {
  text-decoration: underline;
  color: var(--pink-700);
}

article footer {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 8rem 0 4rem;
}

article footer table {
  width: 100%;
}

article footer table td {
  border-bottom: 1px solid #eee;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  padding: 1rem 0;
  color: #78716C;
  vertical-align: top;
}

article footer table td:first-child {
  width: 25%;
  text-align: left;
}

article footer table tr:last-child td {
  border-bottom: none;
}

article footer table ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

article footer a {
  color: #78716C;
  word-break: break-all;
}

article footer a:visited {
  color: #57534E;
}

article footer .legal a {
  color: var(--pink-600);
}

article footer .legal a:hover {
  color: var(--pink-600);
}

article header {
  margin-bottom: 2rem;
}

article rpr-filter,
article rpr-contribution::part(filter) {
  border: 0;
  padding: 0;
}

article rpr-filter::part(wrapper):hover,
article rpr-contribution::part(filter-wrapper):hover {
  border: 1px solid var(--slate-400);
}

article rpr-filter::part(wrapper),
article rpr-contribution::part(filter-wrapper) {
  border: 1px solid var(--slate-200);
  border-radius: 9999px;
  padding: 0.3rem 0.75rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
}

article rpr-timecode {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

:target {
  scroll-margin-top: 100px;
}


.results {
  position: fixed;
  top: 0;
  left: calc(var(--sidebar) + 1px);
  width: var(--sidebar);
  height: 100vh;
  overflow-y: scroll;

  border-right: 1px solid var(--slate-200);
}

.results {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  list-style: none;
}

.results .result {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 2rem;
}

.results .result[data-score=""] {
  display: none;
}

.results .issues {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.results .issues .issue {
  grid-column: 1 / -1;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

.results .section .issues .issue {
  border-left: 1px solid var(--amber-100);
  padding-left: 1rem;
}

.results .section .issues .issue:last-child {
  padding-bottom: 1rem;
}

.results .issues .id {
  color: var(--amber-600);
  font-weight: 700;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  margin-right: 0.25rem;
  letter-spacing: -0.025em;
}

.results .issues .id:before {
  content: "#";
}

.results .issues .title {
  display: inline;
  border: 0;
  padding: 0;
  color: var(--amber-600);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

.results .result .excerpt:not(:empty) {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  padding-bottom: 0.5rem;
}

.results .result.hide:not(:has([aria-current="true"])) {
  display: none;
}

.results .result a.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--slate-800);
  text-decoration: none;
}

.results .result:has(a.header[aria-current]:not([aria-current="false"])) {
  background: var(--slate-50);
}

.results .result:has(a.header[aria-current]:not([aria-current="false"])) ol a {
  border-left-color: var(--slate-200);

}

.results .result .header .title {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.results .result .header .details {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  margin: 0;
}

.results .result .sections {
  position: relative;
}

.results .result .sections .highlight {
  position: absolute;
  top: 0;
  left: 0;
  right: -1rem;
  height: 0;
  z-index: 10;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background: var(--gray-100);
}

.results .result:has(a.header:not([aria-current="true"])) .highlight {
  display: none;
}

.results .result .sections .overlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
  z-index: 30;
  background: var(--pink-600);
  box-shadow: 0 0 5px var(--pink-400);
}

.results .result:has(a.header:not([aria-current="true"])) .overlight {
  display: none;
}

.results .result .sections .section {
  z-index: 20;
  position: relative;
}

.results .result .sections .section .excerpt {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  border-left: 1px solid var(--slate-100);
  padding-left: 1rem;
}

.results .result .sections .section[data-depth="3"] .excerpt {
  padding-left: 2rem;
}

.results .result .sections .section[data-depth="4"] .excerpt {
  padding-left: 3rem;
}

.results .result .sections .section[data-depth="5"] .excerpt {
  padding-left: 4rem;
}

.results .result .sections .section[data-depth="6"] .excerpt {
  padding-left: 5rem;
}

.results .result ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.results .result ol a {
  display: block;
  border-left: 1px solid var(--slate-100);
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  color: var(--pink-600);
  text-decoration: none;
  font-size: var(--font-size-md);
  line-height: var(--line-height-sm);
  letter-spacing: -0.025em;
}

.results .result ol a:hover {
  text-decoration: underline;
}

.results .result ol a.depth-2 {
  padding-left: 1rem;
}

.results .result ol a.depth-3 {
  padding-left: 2rem;
}

.results .result ol a.depth-4 {
  padding-left: 3rem;
}

.results .result ol a.depth-5 {
  padding-left: 4rem;
}

.results .result ol a.depth-6 {
  padding-left: 5rem;
}

.results .result .section:has(> a[aria-expanded="false"]) .subsections {
  display: none;
}
