body {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  font-family: sans-serif;
  line-height: 1.5em;
}

.speaker {
  position: relative;
  margin: 30px 0;
}
.speaker.speaker-ray {
  /* background-color: greenyellow;
  border-radius: 20px;
  padding: 20px; */
  text-align: left;
}
.speaker.speaker-other {
  /* background-color: gainsboro; */
  border: 2px dashed gainsboro;
  border-radius: 20px;
  padding: 0 20px;
  /* font-size: 100%;
  font-style: italic;
  font-weight: bold; */
  /* margin-left: 40%; */
  /* text-align: right; */
}

img {
  display: block;
  margin: 20px auto;
}

data {
  display: block;
  position: absolute;
  top: -20px;
  left: -3px;
  font-size: 0.8em;
  opacity: 0;
}
data span {
  opacity: 0;
}
span::after {
  content: ' ';
  /* white-space: pre; */
}

a {
  background-color: rgb(192, 221, 246);
  padding: 2px 5px;
  border-radius: 1px;
  text-decoration: none;
  color: black;
}

a.person {
  background-color: rgb(218, 192, 246);
  padding: 2px 5px;
  border-radius: 1px;
  text-decoration: none;
  color: black;
}

a.book {
  background-color: rgb(199, 246, 192);
  padding: 2px 5px;
  border-radius: 1px;
  text-decoration: none;
  color: black;
}

#top-bar {
  margin-top: 40px;
}

#top-bar a {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  text-decoration: none;
  color: black;
  font-style: italic;
  text-transform: lowercase;
}

article.interview h1 {
  font-size: 2em;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 0;
}
article.interview header {
  margin-top: 15px;
  margin-bottom: 80px;
}

#transcripts {
  margin-top: 80px;
  margin-bottom: 80px;
}

blockquote {
  border-left: 5px solid gainsboro;
  margin: 40px 0;
  padding: 5px 0 5px 40px;
  font-style: italic;
  line-height: 2em;
}

.speaker.speaker-other blockquote {
  border-left: none;
  padding: 0 40px;
  margin: 30px 0;
}

sup.footnote-ref {
  vertical-align: middle;
}

sup.footnote-ref a {
  border-radius: 6px;
  padding: 3px 7px;
}

a.footnote-backref {
  border-radius: 6px;
  padding: px 7px;
}

a.timecode {
  position: absolute;
  /* left: -90px; */
  right: 104%;
  background-color: transparent;
  opacity: 0.3;
  border-radius: 1000px;
  padding: 1px 10px;
}
a.timecode:hover {
  background-color: rgb(192, 221, 246);
  opacity: 1;
}

@media only screen and (max-width: 1030px) {
  a.timecode {
    background-color:aliceblue;
    position: relative;
    right: 0;
    opacity: 1;
    color: rgb(97, 111, 124);
  }
  a.timecode:hover {
    color: black;
  }
}