
/* Global styles */

body {
    max-width: 1300px;
    margin: 0 auto;
    font-family: sans-serif;
    line-height: 1.6em;
    counter-reset: sidenote-counter;
}
article,
#top-bar {
    padding: 20px;
    position: relative;
}
article header,
article div.speaker,
article section,
body footer,
#top-bar a {
    width: 60%;
    margin-left: 5%;
    transition: width .1s;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub { 
    top: 0.4em; 
}


/* Top bar on every page */

#top-bar {
    padding-top: 80px;
}

#top-bar a {
    text-decoration: none;
    color: black;
    opacity: 0.3;
    font-size: 3em;
    font-weight: lighter;
    font-family: "Times New Roman";
    text-transform: uppercase;
    letter-spacing: 10px;
}
#top-bar a:hover {
    color: black;
    opacity: 0.6;
}

#top-bar #search {
    position: absolute;
    top: 70px;
    right: 0;
    width: 30%;
    z-index: 1000;
}
#top-bar #search .pagefind-ui__drawer {
    background: white;
}
#top-bar #search p.pagefind-ui__result-title {
    width: 100%;
}
#top-bar #search .pagefind-ui__result-title a {
    font-family: inherit;
    font-size: 1em;
    color: black;
    opacity: 1;
    letter-spacing: inherit;
    text-transform: inherit;
}


/* Footer on every page */

body footer {
    padding: 60px 20px;
    font-size: 0.8em;
    opacity: 0.8;
}


/* Sidenotes on any page */

article .sidenote-number {
    counter-increment: sidenote-counter;
}
article .sidenote-number:after {
    content: counter(sidenote-counter);
    top: -0.2rem;
    left: 0.0rem;
}
article .sidenote-number:after, .sidenote:before {
    font-family: et-book-roman-old-style;
    font-size: 0.8rem;
    position: relative;
    vertical-align: baseline;
}
article input.sidenote-toggle {
    display: none;
}

article .sidenote {
    font-size: 0.9em;
    float: right;
    clear: right;
    width: 40%;
    margin-right: -50%;
    position: relative;
    padding-bottom: 10px;
}
article .sidenote:before {
    content: counter(sidenote-counter) " ";
    right: 102%;
    position: absolute;
}
article .sidenote-meta {
    padding-top: 60px;
}
article .sidenote-meta:before {
    content: "";
}
article .sidenote-standalone:before {
    content: "";
}
article .sidenote img {
    width: 100%;
    margin: 10px 0;
}


/* Interview elements - All pages are .interview currently */

article.interview > header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
article.interview > header > .hud {
    font-size: 0.9em;
    color: #666;
}
article.interview > header > .hud > .date {
    position: relative;
    top: 30px;
    float: left;
    clear: left;
    margin-left: -17%;
    width: 100px;
    text-align: right;
    font-family: "Courier New";
    color: #999;
    font-size: 0.9em;

    float: none;
    clear: none;
    margin-left: 0;
    padding-right: 5px;
    font-family: inherit;
    top: 0;
}
article.interview > header > .hud > .date:after {
  content: " /";
}
article.interview > header > .hud > a.series {
    color: #666;
}
article.interview > header > .hud > a.series:hover {
    color: black;
    text-decoration: underline;
}
article.interview > header > h1.title {
    margin: 0;
}
article.interview > header > .transcription-attribution {
    margin-top: 0px;
    font-size: 0.9em;
}
article.interview > header > .actions {
    margin-top: 4px;
    margin-bottom: 5px;
}
article.interview > header > .actions a {
    background-color: #AAA;
    color: #fff;
    padding: 4px 10px;
    border-radius: 6px;
    margin-right: 10px;
    font-weight: bold;
}
article.interview > header > .actions > a.view-source {
    background-color: #666;
}
article.interview > header > .actions > a.view-source:hover {
    background-color: #3A3;
}
article.interview > header > .actions > a.edit:hover {
    background-color: #66F;
}

/* Interview Timecodes */

article.interview .timecode {
    font-size: 0.8em;
    margin-left: -10%;
    position: absolute;
    right: 103%;
    transition: opacity .2s;
}
article.interview .timecode > a.external {
    text-decoration: none;
    color: black;
    opacity: 0.4;
    transition: all .2s;
}
article.interview .timecode > a.external:hover {
    opacity: 1;
}
article.interview .timecode > a.internal {
    transform: rotate(90deg);
    position: absolute;
    right: 80%;
    opacity: 0;
    transition: all .2s;
    top: -5px;
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 1000px;
}
article.interview .timecode:hover > a.internal {
    opacity: 0.3;
}
article.interview .timecode:hover > a.internal:hover {
    opacity: 1;
}


/* Interview speakers */

article.interview > main > .speaker {
    margin-top: 20px;
    position: relative;
}
article.interview > main > .speaker > .speaker-name {
    font-size: 0.8em;
    opacity: 0.6;
    position: relative;
    top: 15px;
}
article.interview > main > .speaker > p {
    margin: 20px 0;
}


/* Interview mentions */

article.interview > main .mention > a {
    font-weight: normal;
    transition: all .1s;
    text-decoration: underline;
    font-weight: bold;
    color: blue;
}
article.interview > main .mention a:hover {
    text-decoration: underline;
    filter: brightness(1.5);
}


/* Interview quotes */

article.interview > main blockquote > * {
    padding-left: 20px;
    font-style: italic;
}


/* Homepage Content */

article.homepage #content > .content {
    margin-bottom: 50px;
    position: relative;
}
article.homepage #content > .content > .header {
    margin-bottom: 20px;
}
article.homepage #content > .content > .header > a.title {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    display: block;
    margin-bottom: 5px;
}
article.homepage #content > .content > .header > a.title:hover {
    text-decoration: underline;
    filter: brightness(1.2);
}
article.homepage #content > .content > .header > a.todo.title {
    color: #aaa;
    text-decoration: line-through;
}
article.homepage #content > .content > .header > .hud {
    margin-bottom: 1px;
}
article.homepage #content > .content > .header > .hud > .date {
    position: relative;
    top: 30px;
    float: left;
    clear: left;
    margin-left: -17%;
    width: 100px;
    text-align: right;
    font-family: "Courier New";
    color: #999;
    font-size: 0.9em;
}
article.homepage #content > .content > .header > .hud > a.series {
    font-size: 0.9em;
    color: #444;
}
article.homepage #content > .content > .header > .hud > a.series:hover {
    color: black;
    text-decoration: underline;
}
article.homepage #content > .content > .body > .mention > a {
    transition: all .1s;
    text-decoration: none;
    font-weight: normal;

    font-size: 1em;
    border-radius: 10px;
    margin-right: 2px;
    font-weight: normal;
    text-decoration: underline;
    color: #333;
}
article.homepage #content > .content > .body > .mention > a:hover {
    color: blue;
    text-decoration: underline;
}


/* Homepage HUD */

article.homepage .homepage-hud  {
  margin-bottom: 5px;
}
article.homepage .homepage-hud > a.github-project {
    margin-right: 15px;
}
article.homepage .homepage-hud > a.github-project img {
    width: 40px;
}
article.homepage .homepage-hud > .github-sponsor {
    display: inline-block;
    position: relative;
    top: -12px;
}


/* Mention Details Page elements */

article.mentions h1 a {
    color: black;
    font-size: 1.5em;
}
article.mentions h1 a:hover {
    text-decoration: underline;
}
article.mentions h2 {
    font-size: 1em;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}
article.mentions ul {
    list-style: disc;
    margin-left: 20px;
}
article.mentions .content > a {
    color: blue;
    text-decoration: underline;
}


/* Inline Mention Popup Card */

.mention .popup-card {
    position: absolute;
    width: 400px;
    z-index: 2000;
}

.mention .popup-card {
    display: none;
}
.mention:hover .popup-card {
    display: inherit;
}

.mention .popup-card .popup-select {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 6px;
    max-height: 400px;
    overflow-y: auto;
    padding: 0;

    width: 100%;
    margin: 0;
    padding-bottom: 20px;
}

.mention .popup-card .popup-select h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
.mention .popup-card .popup-select h1 > a {
    color: black;
}
.mention .popup-card .popup-select h1 > a:hover {
    text-decoration: underline;
}
.mention .popup-card .popup-select h2 {
    font-size: 0.9em;
    line-height: 1.2em;
    font-weight: normal;
    color: #444;
    margin: 20px 0 0 0;
    padding: 8px 20px 8px 20px;
    word-break: break-word;
}
.mention .popup-card .popup-select h2 a {
    color: #666;
    text-decoration: underline;
}
.mention .popup-card .popup-select h2 a:hover {
    color: #000;
}
.mention .popup-card .popup-select > ul {
    margin: 0 20px;
}
.mention .popup-card .popup-select ul {
    list-style-type: circle;
    padding: 0 20px 0 20px;
    word-break: break-word;
}
.mention .popup-card .popup-select .content a {
    color: #000;
    text-decoration: underline;
}
.mention .popup-card .popup-select .content a:hover {
    color: blue;
    text-decoration: underline;
}


/* Media queries */

@media only screen and (max-width: 732px) {
    article header,
    article div.speaker,
    article section,
    body footer,
    #top-bar a {
        width: 100%;
        margin-left: 0;
    }

    article .sidenote {
        position: relative;
        display: none;
        float: left;
        clear: both;
        vertical-align: baseline;
        width: 95%;
        margin: 30px
    }
    article .sidenote.sidenote-standalone {
        display: block;
        width: 100%;
        margin: 10px 0;
    }
    article .sidenote:before {
        right: 101%;
    }
    article .sidenote-toggle:checked + .sidenote {
        display: block;
    }
    article label.sidenote-toggle {
        cursor: pointer;
    }
}
@media only screen and (max-width: 1400px) {
    article.homepage #content > .content >  .header > .hud > .date {
        float: none;
        clear: none;
        margin-left: 0;
        padding-right: 5px;
        font-family: inherit;
        top: 0;

    }
    article.homepage #content > .content > .header > .hud > .date:after {
        content: " /";
    }
    article.interview .timecode {
        position: relative;
        right: 0;
        margin-left: 0;
        top: 0;
        margin-right: 3px;
    }
    article.interview .timecode a.internal {
        top: -10px;
    }
}
