---
title: Ray Peat Rodeo
layout: base.njk
---

<h1>Ray Peat Rodeo</h1>
<p><em>Roll-up for a round-up of <a href="https://github.com/marcuswhybrow/complete-ray-peat" target="_blank">open-source</a> Ray Peat transcripts.</em></p>
<form name="contact" netlify>
    <p>Suggest a <input type="text" name="url" placeholder="URL" /> I should <button type="submit">Transcribe</button></p>
</form>

<section id="transcripts">
    <h2>Transcriptions</h2>

    <ul>
    {% for item in collections.content %}
        <li>{{ item.data.date | date: "%Y-%m-%d" }} <a href="{{ item.url }}">{{ item.data.title }}</a></li>
    {% endfor %}
    </ul>
</section>