{{define "base"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{block "title" .}}Ray Peat Rodeo{{end}}</title>
        <link rel="stylesheet" href="/assets/css/global.css">
    </head>
    <body>
        <div id="top-bar">
            <a href="/">Ray Peat Rodeo</a>
        </div>
        {{block "contents" .}}{{end}}
        <footer>
            <p>
                The copyright of each transcript is owed to the original transcriber, and those speaking. Ray Peat Rodeo is a completely static website build in Go, and hosted by Netlify, and was last updated {{.BuildDate.Format "Jan 2, 2006" }}. If you wish to contribute to the project visit <a href="{{.ProjectLink}}" target="_blank">GitHub</a>, or <a href="{{.ContactLink}}">get in touch</a>.
            </p>
        </footer>
    </body>
</html>
{{end}}