{{block "title" .}}
    Contact
{{end}}

{{block "contents" .}}
    <article>
        <section>
            <h1>Get In Touch</h1>
            <p>There are many ways to get in touch, the easiest is to fill out the form below. If you're technically minded you can engage with the project directly on <a href="{{.Global.ProjectLink}}" target="_blank">GitHub</a>. Or there's the <a href="https://raypeatforum.com" target="_blank">Ray Peat Forum</a> where you can post transcripts. I'll eventually get around to incoporating every transcript posted there.
            <form name="contact" method="POST" data-netlify="true" id="contact-form">
                <p>
                  <input type="email" name="email" placeholder="You email (optional)" />
                  <textarea name="message" placeholder="Your message"></textarea>
                  <button type="submit">Send</button>
                </p>
              </form>
        </section>
    </article>
{{end}}