{{block "title" .}}
    Ray Peat Rodeo
{{end}}

{{block "contents" .}}
    <article>
        <section>
            <link href="/_pagefind/pagefind-ui.css" rel="stylesheet" />
            <script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
            <div id="search"></div>
            <script>
                window.addEventListener('DOMContentLoaded', (event) => {
                    new PagefindUI({
                    element: '#search',
                    translations: {
                        placeholder: 'Search Ray Peat Rodeo'
                    }
                    });
                });
            </script>
        </section>
        <section>
            <h2>Documents</h2>
            <span class="sidenote sidenote-standalone">
                Roll up to a round up of transcirpts! Welcome to Ray Peat Rodeo, the <a href="{{.ProjectLink}}" target="_blank">open-source</a> project cataloging the public interviews of Dr. Raymond Peat.
                <br />
                <br />
                The blue, green, purple, and black links summarise each documents mentioned people, books, scientific papers, and external links, respectively.
                <br />
                <br />
                <em>Rodeo</em>, means to <em>gather up</em>, a feat of extreme skill, perhaps dangerous, perhaps ambiguous. It's also a cheap domain name. 😉
                <br />
                <br />
                <b id="roadmap">Roadmap</b>, to add a couple new transcirpts per week. Add section markers for transcripts that don't use timestamps. Improve citation links below to scroll linked document automatically to first occurance. Improve scientific papers below to show article titles. Improve external links below to show page titles.
            </span>
            <div id="documents">{{range .documents}}
                <div class="document">
                    <span class="document-date">{{ .Date.Format "2006-01-02" }}</span><a class="document-title" href="{{.Slug}}">{{.Title}}</a>
                    {{range $citationKey, $person := .Citations.People}}
                        <a class="citation person" title="{{$person.Name}}" href="{{$person.Citation.ExternalLink}}" target="_blank">{{$person.LastName}}</a>
                    {{end}}
                    {{range $citationKey, $book := .Citations.Books}}
                        <a class="citation book" title="{{$book.Title}} by {{$book.PrimaryAuthor.Name}}" href="{{$book.Citation.ExternalLink}}" target="_blank">{{$book.Title}}</a>
                    {{end}}
                    {{range $citationKey, $sciencePaper := .Citations.SciencePapers}}
                        <a class="citation science-paper" title="Science Paper" href="{{$sciencePaper.Citation.ExternalLink}}" target="_blank">{{$sciencePaper.Doi}}</a>
                    {{end}}
                    {{range $citationKey, $externalLink := .Citations.ExternalLinks}}
                        <a class="citation external-link" title="External URL" href="{{$externalLink.Citation.ExternalLink}}" target="_blank">{{$externalLink.Citation.ExternalLink}}</a>
                    {{end}}
                </div>
            {{end}}</div>
        </section>

        <section>
            <h2>People</h2>
            <span class="sidenote sidenote-standalone">
                There are {{.citations.Count}} total citations for the {{len .documents}} documents cateloged, including {{len .citations.People}} people.
                <br/>
                <br/>
                Perhaps contentiously, people links search Library Genesis, a large repository of pirated books. Support the author's you can. Linking to LibGen is not necessarily an endorcement.
            </span>
            <div id="people">
                <ul>{{ range $person, $documents := .citations.People}}
                    <li>
                        <a class="citation person" href="{{$person.Citation.ExternalLink}}" target="_blank">{{$person.Citation.CitationKey}}</a> <sup>x{{len $documents}}</sup>
                        {{range $documents}}
                            <a href="{{.Slug}}">{{.Title}}</a>
                        {{end}}
                    </li>
                {{end}}</ul>
            </div>
        </section>
        <section>
            <h2>Books</h2>
            <span class="sidenote sidenote-standalone">
                {{len .citations.Books}} books, ordered by the authors last name.
                <!-- <br/>
                <br/> -->
                As above, book links search Library Genesis.
            </span>
            <div id="books">
                <ul>{{ range $book, $documents := .citations.Books}}
                    <li>
                        {{$book.PrimaryAuthor.CitationKey}}. <a class="citation book" href="{{$book.Citation.ExternalLink}}" target="_blank">{{$book.Title}}</a> — {{len $documents}}
                        {{range $documents}}
                            <a href="{{.Slug}}">{{.Title}}</a>
                        {{end}}
                    </li>
                {{end}}</ul>
            </div>
        </section>
        <section>
            <h2>External Links</h2>
            <span class="sidenote sidenote-standalone">
                {{len .citations.ExternalLinks}} mentions of other websites.
            </span>
            <div id="external-links">
                <ul>{{ range $externalLink, $documents := .citations.ExternalLinks}}
                    <li>
                        <a class="citation external-link" href="{{$externalLink.Citation.ExternalLink}}" target="_blank">{{$externalLink.Citation.ExternalLink}}</a> — {{len $documents}}
                        {{range $documents}}
                            <a href="{{.Slug}}">{{.Title}}</a>
                        {{end}}
                    </li>
                {{end}}</ul>
            </div>
        </section>
        <section>
            <h3>Scientific Papers</h3>
            <span class="sidenote sidenote-standalone">
                {{len .citations.SciencePapers}} scientific papers linked directly to Sci-Hub PDFs.
                <br/>
                <br/>
                Sci-Hub is a repository of pirated scientific papers. As with Library Genesis, linking to Sci-Hub is not necessarily an endorsment. Pay for the content you can afford.
                <br/>
                <br/>
                If Sci-Hub is blocked in your country, a <a href="https://protonvpn.com/" target="_blank">free VPN</a> can sort you out. 
            </span>
            <div id="science-papers">
                <ul>{{ range $sciencePaper, $documents := .citations.SciencePapers}}
                    <li>
                        <a class="citation science-paper" href="{{$sciencePaper.Citation.ExternalLink}}" target="_blank">{{$sciencePaper.Doi}}</a> — {{len $documents}}
                        {{range $documents}}
                            <a href="{{.Slug}}">{{.Title}}</a>
                        {{end}}
                    </li>
                {{end}}</ul>
            </div>
        </section>
    </article>
{{end}}